@use "../../assets/styles/Variables.scss" as *;

.blogHeader {
  padding: 80px 0;
  background-color: $lavender;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  max-width: 665px;
}

.inscription {
    @extend %cap3Medium;
    color: black;
    text-transform: uppercase;
}

.title {
  margin-top: 20px;
  color: black;
}

.date {
  @extend %label1;
  color: $darkGray;
  margin: 16px 0;
}

.dateImportant {
    @extend .date;
    color: $purple;
}

.text {
  @extend %body1;
  margin-bottom: 32px;
  color: $mediumGray;
}
