@import '../../assets/styles/Variables.scss';

.homeHero {
    position: relative;
    height: 720px;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    height: 100%;
    color: $light;
}

.date,
.title {
    margin-top: 24px;
}

.text {
    margin-top: 16px;
}

.button {
    margin-top: 48px;
}