//  цвета
$black: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$darkGray: #4c4c4c;
$mediumGray: #6d6e76;
$lightGray: #f4f4f4;
$lavender: #f4f0f8;
$lightYellow: #fbf6ea;
$light: #ffffff;
// размеры текста

%display {
  font-family: "Sen";
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
}

%label1 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

%body1 {
  font-family: "Inter";
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
}

%cap1 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
}

%cap3Medium {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
}